$duration: .20;
$easing: ease-in-out;
$light-violet: #720ff108;
$main-violet: #7510F7;

* {
  box-sizing: border-box;
}

body {
  // padding-top: 100px;
  text-align: center;
  // background: #F1F1F2;
  font-family: 'Open Sans', sans-serif;
}

.main-button {
  border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
}

.button.page-link {
   svg {
     -webkit-transition: -webkit-transform .5s ease-in-out;
     transition:         transform .5s ease-in-out;
          }

  &:hover svg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  &:hover {
    box-shadow: 5px 5px 5px #1b1a1ad1
  }
}

.centered {
  display:flex;
  justify-content:center;
  align-items:center;
  color: rgba(255,255,255,.70);
}

.gray {
  color: #445561
}

.u-header {
  margin-bottom: 20px;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Righteous', cursive;
  font-size: 65px;
}

.avatar-container { 
  align-items: center;
  display: flex;
  justify-content: center;
  // background-color: $light-violet;
  max-width: 50%;
}

.flex-no-size-change {
  flex-basis: 50%;
  flex-grow: 0
}



// .u-text {
//   font-family: 'Open Sans', sans-serif;

//   &-big{
//     font-size: 65px;
//   }
// }

.u-header-underline {
  background: #445561;
  height: 4px;
  margin: 25px 0 75px 0;
  width: 70px;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.u-margin-bottom-big {
  margin-bottom: 110px;
}

.skills-bg {
  // background-color:$light-violet;
  height: 100%;
  width: 100%;
  padding: 40px;
}

.logo {
  max-width: 5%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.is-narrow {
  max-width: 1200px;
}

.violet-main-background {
  // height: 300px;
  width: 100%;
  background-color: $main-violet;
  z-index: -1;
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 12rem;
}

.personal-info {
  display: flex;
  flex-direction: row;
  margin-top: -100px;
  // margin-left: 5%;
  // margin-right: 5%;
  background-color: white;
  border-radius: 6px;
  margin: -120px auto 200px auto;


  .left {
    border: 1px solid #25293412;
    border-bottom-left-radius: 6px;
    max-width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    
  }

  .right {
    border: 1px solid #25293412;
    border-bottom-right-radius: 6px;
    max-width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.my-content {
  background-color: #252934;
  background-size: 100%;
  height:100vh;
  min-height:100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  display:flex;
  justify-content:center;
  align-items:center;
  color: rgba(255,255,255,.70);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: start;

  &.column {
    flex-direction: column;
  }

  &.content-center {
    align-content: center;
  }

}

.item {
  flex: 0 0 auto;
  margin: 10px;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reversed;
  justify-content: center;
  align-items: auto;
  align-content: auto;
  /* margin: 50px;; */
}
.container-row:after {
  display: block;
  margin: 10px;
  flex: 999 999 auto;
}

.item-row {
  flex: 1 0 auto;
  margin: 10px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 0 150px 300px;
  border-color: transparent transparent transparent $main-violet;
}

.section {
  padding: 5rem 1.5rem;
}

.blob-bcg2 {
  background-image: url("../../images/path_bcg2.png");
  background-color: #cccccc;
}

// body {
// 	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
// 	background-size: 400% 400%;
// 	animation: gradient 15s ease infinite;
// }

// @keyframes gradient {
// 	0% {
// 		background-position: 0% 50%;
// 	}
// 	50% {
// 		background-position: 100% 50%;
// 	}
// 	100% {
// 		background-position: 0% 50%;
// 	}
// }

// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd
// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd
// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd
// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd
// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd
// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd
// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd



@font-face {
  font-family: "Raleway";
  src: url("http://findmatthew.com/style/../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-semibold";
  src: url("http://findmatthew.com/style/../fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-bold";
  src: url("http://findmatthew.com/style/../fonts/Raleway-Bold.ttf");
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

body {
  // color: #fff;
  // font-family: "Raleway";
  // font-size: 8pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // margin: 0px;
  // overflow-x: hidden;
  // text-align: center;
}

#preload {
  display: none;
}

.page-link {
  cursor: pointer;
}

.disable-hover {
  pointer-events: none;
}

.overflow-wrap {
  overflow-x: hidden;
}

.canvas {
  background: url("http://findmatthew.com/style/../img/filler.png") center center/cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.button {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
}
.button:hover {
  background-color: #7510F7;
  border-color: #7510F7;
}
.button .mdi {
  vertical-align: middle;
}

.bold {
  font-family: "Raleway-bold";
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex.row {
  flex-direction: row;
}
.flex.wrap {
  flex-wrap: wrap;
}

.hex-wrap {
  display: inline-block;
  height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
}

footer {
  background: $main-violet;
  padding: 70px 0 50px 0;
  position: relative;
  color: white;
}
footer .mdi-chevron-double-up {
  background: #e31b6d;
  cursor: pointer;
  font-size: 30pt;
  height: 50px;
  left: 0;
  line-height: 40pt;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -25px;
  transition: background 0.5s;
  width: 47px;
}
footer .mdi-chevron-double-up:hover {
  background: #fb1f79;
}
footer .icon-wrap .icon {
  background: #262f38;
  cursor: pointer;
  font-size: 18pt;
  height: 55px;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  width: 55px;
}
footer .icon-wrap .mdi {
  color: #fff;
  text-align: center;
}
footer .icon-wrap .mdi.mdi-codepen {
  font-size: 20pt;
}
footer .icon-wrap .icon:hover {
  background: #04c2c9;
  box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
  transform: scale(0.9);
}
footer .icon-wrap .icon:hover .mdi {
  color: #fff;
}
footer .icon-wrap .icon:hover .mdi {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  -moz-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}
footer .footnote {
  color: #8f9aa7;
  font-size: 10pt;
  margin-top: 35px;
  opacity: 0.6;
}
footer .footnote .highlight {
  color: #e31b6d;
  font-family: "Open Sans";
}

  .button {
    font-size: 16pt;
  }


/*# sourceMappingURL=style.css.map */


// .button {
// 	position: relative;
  
//   margin-bottom: 40px;

// 	display: inline-flex;
// 	justify-content: center;
// 	align-items: center;

// 	background: #FE8989;
//     	box-shadow:  0px 0px 0 0px rgba(0,0,0,0);
// 	border-radius: 50px;

// 	width: 25.25rem;
// 	padding: 1rem 0;

// 	font-family: 'Montserrat', sans-serif;
// 	font-weight: 600;
// 	font-size: 2.75rem;
// 	color: white;

// 	cursor: pointer;

// 	-moz-transition: all 0.3s ease;
// 	transition: all 0.3s ease;
// 	.icons {
// 		position: relative;

// 		display: flex;
// 		justify-content: center;
// 		align-items: center;

// 		margin: 0 2.3rem 0 0;
// 		width: 1.25rem;
// 		height: 2.6rem;

// 		i {
// 			position: absolute;
// 			top: 0;
// 			left: 0;

// 			display: block;
// 		}
// 		.icon-default {
//             transition: opacity .3s, transform .3s;
// 		}

// 		.icon-hover {
//             transition: opacity .3s, transform .3s;
// 			transform: rotate(-180deg) scale(.5);
// 			opacity: 0;
// 		}
// 	}

// 	&:hover {
// 		transform: scale(1.2);
//     	box-shadow:  20px 15px rgba(0,0,0,0.15);
// 		.icon-hover {
// 			transform: rotate(0deg) scale(1);
// 			opacity: 1;
// 		}
// 		.icon-default {
// 			transform: rotate(180deg) scale(.5);
// 			opacity: 0;
// 		}
// 	}
// }