$easing: ease-in-out;
$light-violet: #720ff108;
$main-violet: #7510F7;
$secondary-violet: #580cbb;
$third-violet: #5a0bbf;
$screen-max-1440p: "only screen and (max-width : 1440px)";
$screen-max-600p: "only screen and (max-width : 600px)";
$screen-max-768p: "only screen and (max-width : 768px)";
$screen-max-900p: "only screen and (max-width : 900px)";

* {
  box-sizing: border-box;
}

body {
  // padding-top: 100px;
  text-align: center;
  // background: #F1F1F2;
  font-family: 'Bangers', sans-serif;
}

.main-button {
  border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
}

.button.page-link {
   svg {
     -webkit-transition: -webkit-transform .5s ease-in-out;
     transition:         transform .5s ease-in-out;
          }

  &:hover svg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  &:hover {
    box-shadow: 5px 5px 5px #1b1a1ad1
  }
}

.centered {
  display:flex;
  justify-content:center;
  align-items:center;
  color: rgba(255,255,255,.70);
}

.gray {
  color: #445561
}

.u-header {
  margin-bottom: 20px;
  font-size: 65px;
}

.avatar-container { 
  align-items: center;
  display: flex;
  justify-content: center;
  // background-color: $light-violet;
  max-width: 50%;
}

.flex-no-size-change {
  flex-basis: 50%;
  flex-grow: 0
}

.u-header-underline {
  background: #445561;
  height: 4px;
  margin: 25px 0 75px 0;
  width: 70px;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.u-margin-bottom-big {
  margin-bottom: 110px;
}

.skills-bg {
  // background-color:$light-violet;
  height: 100%;
  width: 100%;
  padding: 40px;
}

.logo {
  max-width: 5%;
  top: 10px;
  left: 10px;
}

.is-narrow {
  max-width: 1200px;
}

.violet-main-background {
  height: 400px;
  background-color: $main-violet;
  z-index: -1;
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 12rem;
  max-width: 95%;
  margin: auto;
  box-shadow: 14px 14px 0px 3px $secondary-violet;

  &.small {
    padding-bottom: 4rem;
  }
}


.animated-text {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  // font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  color: rgba(255,255,255,.70);
  margin: 0 auto;
  height: 35px;
}

/* Animation */
.animated-text {
  animation: animated-text 1s steps(60,end) 0.5s 1 normal both,
             animated-cursor 1000ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 435px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.70);}
  to{border-right-color: transparent;}
}


.react-photo-gallery--gallery > div {
  background-color: white;

  > img {
    filter: grayscale(100%) blur(1px);
    transition: 0.5s;
    border: 5px solid transparent;
  }

  > img:hover {
    filter: none;
    transform: scale(1.6);
    z-index: 10000;
    border: 5px solid white;
  }

  
}

.personal-info {
  display: flex;
  flex-direction: row;
  margin-top: -100px;
  background-color: white;
  border-radius: 6px;
  margin: -120px auto 200px auto;


  .left {
    border: 1px solid #25293412;
    border-bottom-left-radius: 6px;
    max-width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    
  }

  .right {
    border: 1px solid #25293412;
    border-bottom-right-radius: 6px;
    max-width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}


.gallery-wrapper {
  max-width: 80%;
  margin: auto;
  margin-top: -50px;
}

@keyframes scale-out {
  0%   { transform: rotate(0deg); transform: scale(0.7);}
  100% { transform: rotate(0deg); transform: scale(1); }
}




.my-content {
  background-color: #252934;
  background-size: 100%;
  height:100vh;
  min-height:100vh;
  // font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  display:flex;
  justify-content:center;
  align-items:center;
  color: rgba(255,255,255,.70);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: start;

  &.column {
    flex-direction: column;
  }

  &.content-center {
    align-content: center;
  }

}

.item {
  flex: 0 0 auto;
  margin: 10px;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reversed;
  justify-content: center;
  align-items: auto;
  align-content: auto;
  /* margin: 50px;; */
}
.container-row:after {
  display: block;
  margin: 10px;
  flex: 999 999 auto;
}

.item-row {
  flex: 1 0 auto;
  margin: 10px;
  width: 100px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 0 150px 300px;
  border-color: transparent transparent transparent $main-violet;
}

.section {
  padding: 5rem 1.5rem;
}

.blob-bcg2 {
  background-image: url("../../images/path_bcg2.png");
  background-color: #cccccc;
}

// body {
// 	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
// 	background-size: 400% 400%;
// 	animation: gradient 15s ease infinite;
// }

// @keyframes gradient {
// 	0% {
// 		background-position: 0% 50%;
// 	}
// 	50% {
// 		background-position: 100% 50%;
// 	}
// 	100% {
// 		background-position: 0% 50%;
// 	}
// }

// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd
// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd
// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd
// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd
// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd
// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd
// sdffdsffffffffffffffffffffffffffffffffffffffffffffffff
// sfdsfsfsdfdsfsdfsfsd



body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#preload {
  display: none;
}



.button {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
}
.button:hover {
  background-color: #7510F7;
  border-color: #7510F7;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex.row {
  flex-direction: row;
}
.flex.wrap {
  flex-wrap: wrap;
}

footer {
  background: $third-violet;
  padding: 0px 0 50px 0;
  position: relative;
  color: white;
  margin-top: 5em;
}
  .button {
    font-size: 16pt;
  }

////////////////////////////FOOTER WAVE//////////////////////////////////
  .ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FF4DB5;
  }
  
  .wave {
    background: url(../../images/waves.svg) repeat-x;
    position: absolute;
    width: 6400px;
    height: 198px;
    animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);

  }
  
  .wave:nth-of-type(2) {
    top: -13px;
    animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
  }

////////////////////////////FOOTER WAVE END//////////////////////////////////

.second-logo {
  max-width: 40%;
}

@media #{$screen-max-1440p} {
  .violet-main-background {
    max-width: 95%;
  }

  .logo {
    max-width: 8%;
  }
}

@media #{$screen-max-900p} {

  .second-logo {
    max-width: 20%;
  }

  .personal-info {
    flex-direction: column;
    margin-top: -100px;

    .left {
      border: 1px solid #25293412;
      align-items: center;
      max-width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      
    }
  
    .right {
      border: 1px solid #25293412;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
    }

    .item-row {
      flex: none;
      width: 70px;
    }

    .skills-bg {
      padding: 20px;
    }
  }
} 


@media #{$screen-max-768p} {
  .violet-main-background {
    box-shadow: none;
    max-width: 100%;
  }
} 

@media #{$screen-max-600p}  {

  .gallery-wrapper {
    max-width: 100% !important;
  }

  .react-photo-gallery--gallery > div {
    
    > img {
      filter: grayscale(100%);
      transition: 0.5s;
      border: 5px solid transparent;
    }

    > img:hover {
      transform: scale(1.05);
    }
    
    > img:not(:hover) {
      opacity: .8;
    }
  }

  .my-content {
    font-size: 25px;
  }
  
  .animated-text {
    font-size: 20px;
    height: 25px;
  }

  @keyframes animated-text{
    from{width: 0;}
    to{width: 280px;}
  }

  .logo {
    max-width: 20%;
  }
  
  .personal-info {
    flex-direction: column;
    margin-top: -100px;

    .left {
      border: 1px solid #25293412;
      align-items: center;
      max-width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      
    }
  
    .right {
      border: 1px solid #25293412;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
    }

    .item-row {
      flex: none;
      width: 50px;
    }

    .skills-bg {
      padding: 20px;
    }
  }

}